
body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#header {
    background-image: url(../images/glendora4k.jpg);
    background-size: cover;
    padding: 100px 0px 100px 0px;
    color: #A3B18A;
    text-shadow: 1 1 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

img {
    width: 100px;
}

#quote {
    font-style: italic;
    border-bottom: 5px;
    border: none;
    margin: 4px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: lighter;
}

#quoter {
    font-style: italic;
    border-bottom: 5px;
    border: none;
    margin: 4px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: lighter;
}